<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!--  Below is only needed if you want to read the device name or establish a bluetooth connection -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> <!-- Foreground permission -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalAssetManagement"
        tools:targetApi="31">
        <activity
            android:name=".PermissionsActivity"
            android:exported="false"
            android:label="@string/title_activity_permissions"
            android:theme="@style/Theme.HospitalAssetManagement" />

        <receiver
            android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HospitalAssetManagement">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BeaconTransmitterService"
            android:exported="false"
            android:foregroundServiceType="location"/>

        <receiver
            android:name=".BeaconStopBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.hospitalassetmanagement.BeaconStopBroadcastReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>